{% extends 'base.html' %}


{% block inside %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/clients/select"> All </a>
        <a class="nav-link" href="/clients/1">Clients who buy some details with time(req_3_1)</a>
        <a class="nav-link" href="/clients/2">Clients who buy some details(req_3_2)</a>

      </nav>
    </div>

</div>


{% endblock %}