{% extends 'base.html' %}


{% block inside %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/defects/select"> All </a>
        <a class="nav-link" href="/defects/1">Defects by period(req_10_1)</a>
        <a class="nav-link" href="/defects/2">Defects by period and suppliers(req_10_2)</a>
      </nav>
    </div>

</div>


{% endblock %}