{% extends 'base.html' %}


{% block inside %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/catalog/select"> All </a>
        <a class="nav-link" href="/details/1">Details by id(req_2)</a>
        <a class="nav-link" href="/details/2">Top 10 details(req_5_1)</a>
        <a class="nav-link" href="/details/3">Average number of sold details(req_6)</a>
        <a class="nav-link" href="/details/4">Add new position to catalog</a>
        <a class="nav-link" href="/details/5">Modify catalog</a>
      </nav>
    </div>

</div>


{% endblock %}