{% extends 'base.html' %}


{% block inside %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/overheads/select"> All </a>
        <a class="nav-link" href="/overheads/1">Overheads in percents</a>
        <a class="nav-link" href="/overheads/2"> Add new overhead </a>
        <a class="nav-link" href="/overheads/3"> Modify overhead </a>

      </nav>
    </div>

</div>


{% endblock %}