{% extends 'base.html' %}


{% block inside %}
<h6 align="centre"> {{ defenition }} </h6>
<h6 align="right"> Rows: {{ length }} </h6>
<h2 align="center"> {{ title }} </h2>

  <table align='center' class='table text-black bg-white' style='width: 50%'>
    <thead><tr>
    {% if id_first %}
      <td scope='col'>id</td>
    {% else %}
      <td scope='col'>{{ columns[0] }}</td>
    {% endif %}

    {% for col in columns[1:] %}
        <td scope='col'> {{ col }} </td>
    {% endfor %}
    </tr></thead>
    {% for row in table %}
        <tr>
        {% for element in row %}
            <td> 
                {% if element %}
                {{element}}                
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>

{% endblock %}