{% extends 'base.html' %}


{% block inside %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/warehouse/select"> All </a>
        <a class="nav-link" href="/warehouse/1">All details(req_4)</a>
        <a class="nav-link" href="/warehouse/2">Unsold details list(req_9_1)</a>
        <a class="nav-link" href="/warehouse/3">Unsold details percent(req_9_2)</a>
        <a class="nav-link" href="/warehouse/4">Space information(req_15)</a>
        <a class="nav-link" href="/warehouse/5">Add new detail</a>
        <a class="nav-link" href="/warehouse/6"> </a>

      </nav>
    </div>

</div>


{% endblock %}