{% extends 'base.html' %}


{% block inside %}
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="/work/1">Sold list by day(req_11_1)</a>
        <a class="nav-link" href="/work/2">Cash and quantity by date(req_11_2,3)</a>
        <a class="nav-link" href="/work/3">Cash Report(req_12)</a>
        <a class="nav-link" href="/work/4">Inventory report(req_13)</a>
        <a class="nav-link" href="/work/5">Profit report(req_14)</a>
        <a class="nav-link" href="/work/6">Orders from clients(req_16)</a>
        <a class="nav-link" href="/work/7">Cash from clients order(req_16)</a>
        <a class="nav-link" href="/work/8">Order from warehouse</a>
        <a class="nav-link" href="/cash/select">Cash</a>
        <a class="nav-link" href="/warehouse_orders/select">All shop orders</a>
        <a class="nav-link" href="/supplier_orders/select">All supplier orders</a>
        <a class="nav-link" href="/work/9"> Update shop order </a>
        <a class="nav-link" href="/work/10"> Supplier order modificate </a>
      </nav>
    </div>

</div>


{% endblock %}